<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".InvoiceApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Invoice">

        <!-- 1. Opening Launcher Screen: App starts here -->
        <activity
            android:name=".activity_splash"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 2. Login Screen (Invoked automatically after splash delay) -->
        <activity
            android:name=".activity_login"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- Meta Data for fonts -->
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <!-- 3. Remaining App Screens -->
        <activity
            android:name=".activity_signup"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".activity_forgot_password"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".activity_business_registration"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".activity_dashboard"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".activity_template_selector"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".activity_create_invoice"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".activity_settings"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".activity_view_invoice"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".activity_profile"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

    </application>

</manifest>